In [25]:
import psycopg2         #pip install psycpg2
import pymysql
from  sqlalchemy import create_engine
import pandas as pd
import openpyxl

In [44]:
conexion = pymysql.connect(
    host='localhost',                      # Servidor donde esta alojada mi base de datos
    database='henry',                  # Nombre de la base de datos
    user='root',                      # Usuario con el cual me voy a conectar
    password='root1234'                   # Contraseña del usuario
)

cursor = conexion.cursor()

# <center>TRABAJO PRACTICO </center>

## 1. Bajar el CSV de Oferta Gastronómica desde Buenos Aires Data (https://data.buenosaires.gob.ar/dataset/). Idealmente hacer esto con Python.

In [45]:
# LEEMOS EL CSV
df3 = pd.read_csv('https://cdn.buenosaires.gob.ar/datosabiertos/datasets/ente-de-turismo/oferta-establecimientos-gastronomicos/oferta_gastronomica.csv')

In [46]:
# ELIMINAMOS LAS COLUMNAS NO NESARIAS
df3= df3.drop ('long', axis = 1)
df3= df3.drop ('lat', axis = 1)
df3= df3.drop ('cocina', axis = 1)
df3= df3.drop ('ambientacion', axis = 1)
df3= df3.drop ('telefono', axis = 1)
df3= df3.drop ('mail', axis = 1)
df3= df3.drop ('horario', axis = 1)
df3= df3.drop ('calle_nombre', axis = 1)
df3= df3.drop ('calle_altura', axis = 1)
df3= df3.drop ('calle_cruce', axis = 1)
df3= df3.drop ('codigo_postal', axis = 1)
df3= df3.drop ('codigo_postal_argentino', axis = 1)

In [47]:
# RENOMBRAMOS LAS COLUMNAS
df3.columns = df3.columns.str.replace('id', 'id_local')
df3.columns = df3.columns.str.replace('direccion_completa', 'direccion')

In [29]:
df3

,id_local,nombre,categoria,direccion,barrio,comuna
0,1602,GUANTANAMERA,RESTAURANTE,"MOREAU DE JUSTO, ALICIA AV. 2092",Puerto Madero,Comuna 1
1,676,1843 VINACOTECA,VINERIA,HUMBERTO 1º 1843,San Cristobal,Comuna 3
2,487,2080 EXPRESS,RESTAURANTE,JURAMENTO AV. 2080,Belgrano,Comuna 13
3,2737,22,CAFE,MURGUIONDO 4188,Villa Lugano,Comuna 8
4,2,4 EN 2 I,RESTAURANTE,"BORGES, JORGE LUIS 2095",Palermo,Comuna 14
...,...,...,...,...,...,...
2818,893,ZOE PIZZA & CAFE,RESTAURANTE,AZCUENAGA 796,Balvanera,Comuna 3
2819,2546,ZOMBI,RESTAURANTE,URUGUAY 142,San Nicolas,Comuna 1
2820,1521,ZONA,RESTAURANTE,11 DE SEPTIEMBRE DE 1888 3900,NuÃƒÂ±ez,Comuna 13
2821,894,ZOO BAR,RESTAURANTE,TUCUMAN 2002,Balvanera,Comuna 3
2822,2854,Angelito,BAR,NaN,Villa Crespo,Comuna 15

In [30]:
df3.shape

(2823, 6)

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_local   2823 non-null   int64
 1   nombre     2823 non-null   object
 2   categoria  2707 non-null   object
 3   direccion  2822 non-null   object
 4   barrio     2823 non-null   object
 5   comuna     2823 non-null   object
dtypes: int64(1), object(5)
memory usage: 132.5+ KB

### 2. Crear una tabla con los siguientes campos: id_local, nombre, categoria, direccion, barrio, comuna, para posteriormente poblarla con los datos bajados, utilzando el conector desde el script de Python.

# <center>CONECTAR A LA BD CON SQLALCHEMY</center>
***

In [48]:
import pandas as pd
from sqlalchemy import create_engine

# Conecta a la base de datos usando SQLAlchemy
conecta = create_engine('mysql+pymysql://root:root1234@localhost:3306/henry')

# Convierte el DataFrame a una tabla en la base de datos
df3.to_sql('oferta_gastronomica', con=conecta, if_exists='replace', index=False)


# Cierra la conexión
conecta.dispose()

***

### 3. A partir de tener los datos disponibles, responder a las siguientes preguntas:</br>

# <center>ABRIMOS LA CONSULTA SQL</center>
***

In [41]:
# Establece la conexión a la base de datos

conn = pymysql.connect(
    host='localhost',                      # Servidor donde esta alojada mi base de datos
    database='henry',                  # Nombre de la base de datos
    user='root',                      # Usuario con el cual me voy a conectar
    password='root1234'                   # Contraseña del usuario
)

# Crea un cursor para ejecutar consultas SQL
cur = conexion.cursor()

***

  #### a) ¿Cuál es el barrio con mayor cantidad de Pubs?</br>

In [51]:
# Define la consulta SQL
sql_query = """
    SELECT barrio, COUNT(categoria) as cantidad_de_pubs
    FROM oferta_gastronomica
    GROUP BY barrio
    ORDER BY cantidad_de_pubs DESC
    LIMIT 1;
"""

# Ejecuta la consulta SQL
cur.execute(sql_query)

# Obtiene los resultados en forma de un DataFrame
result_df = pd.DataFrame(cur.fetchall(), columns=['Barrio', 'Cantidad_de_Pubs'])

# Muestra el resultado
print("Barrio con la mayor cantidad de Pubs:")
print("-------------------------------------")
print(result_df)

Barrio con la mayor cantidad de Pubs:
-------------------------------------
    Barrio  Cantidad_de_Pubs
0  Palermo               462

b) Obtener la cantidad de locales por categoría</br>

In [52]:
# Define la consulta SQL
sql_query = """
    SELECT categoria, COUNT(*) as cantidad_de_locales
    FROM oferta_gastronomica
    GROUP BY categoria
    ORDER BY cantidad_de_locales 
   
"""

# Ejecuta la consulta SQL
cur.execute(sql_query)

# Obtiene los resultados en forma de un DataFrame
result_df = pd.DataFrame(cur.fetchall(), columns=['CATEGORIA', 'Cantidad_de_locales'])


# Muestra el resultado
print("Cantidad de locales por Categoria:")
print("-------------------------------------")
print(result_df)

Cantidad de locales por Categoria:
-------------------------------------
              CATEGORIA  Cantidad_de_locales
0  DELIVERY & TAKE AWAY                    2
1          SANDWICHERIA                    4
2               VINERIA                   22
3                   PUB                   53
4            CONFITERIA                   55
5                  None                  116
6                   BAR                  247
7                  CAFE                  334
8           RESTAURANTE                 1990

   c) Obtener la cantidad de restaurantes por comuna

In [55]:
# Define la consulta SQL
sql_query = """
    SELECT comuna, COUNT(*) as cantidad_de_restaurantes
    FROM oferta_gastronomica
    WHERE categoria = 'RESTAURANTE'
    GROUP BY comuna
    ORDER BY comuna;
   
"""

# Ejecuta la consulta SQL
cur.execute(sql_query)

# Obtiene los resultados en forma de un DataFrame
result_df = pd.DataFrame(cur.fetchall(), columns=['COMUNAS', 'Cantidad_de_locales'])


# Muestra el resultado
print("Cantidad de locales por Comuna:")
print("-------------------------------------")
print(result_df)

Cantidad de locales por Comuna:
-------------------------------------
      COMUNAS  Cantidad_de_locales
0    Comuna 1                  609
1   Comuna 10                   43
2   Comuna 11                   33
3   Comuna 12                   42
4   Comuna 13                  108
5   Comuna 14                  366
6   Comuna 15                   57
7    Comuna 2                  227
8    Comuna 3                  145
9    Comuna 4                   95
10   Comuna 5                   56
11   Comuna 6                   87
12   Comuna 7                   64
13   Comuna 8                    6
14   Comuna 9                   52

# <center>CERRAMOS LA CONSULTA SQL</center>
***

In [56]:
# Cierra el cursor y la conexión
cur.close()
conn.close()

***